*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto',  Helvetica, Arial, sans-serif;

  user-select: none;
  -webkit-user-select:  none;
  -moz-user-select: none;
  -ms-user-select: none;

  touch-action: none;
  background-color: #4A525B;
}

/* header */
/* .wrapper {
  width: 400px;
  display: grid;
  background: #4A525B;
  margin: 100px;
  padding: 50px 0px 50px 0px;
  box-shadow: -8px -8px 12px rgba(240, 215, 215, 0.15), 6px 6px 12px rgba(16, 32, 52, 0.25);
  border-radius: 24px;
} */
.toolbar{
  display: grid;
  position: fixed;
  width: 90px;
  height: 100;
  background: #4A525B;
  left: -100%;
  top: 0;
  text-align: center;
  padding-top: 100px ;
  border-radius: 0px 0px 10px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  box-shadow: -8px -8px 12px rgba(240, 215, 215, 0.15), 6px 6px 12px rgba(16, 32, 52, 0.25);
  transition: 0.7s;
  z-index: 3;
}


.rad {
  text-align: center;
  font-size:30px;
}
.tool-button{
  margin-bottom: 20px;
}
.buttons {
  text-align: center;
  font-size:30px;
  background-color: #333;
  margin-top: 20px;
  z-index: 4;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
}
.show-menu-btn{
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 2;
}
.hide-menu-btn{
  position: absolute;
  top: 45px;
  left: 40px;
}
.redo, .undo{
  background-color: #D9D9D9;
}
.redo:active, .undo:active{
  background-color: #D9D9D9;
}

.toolbar a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover,
.redo:hover, .undo:hover{
  color: #3498db;
}
#chk{
  position: absolute;
  visibility: hidden;
}

#chk:checked ~ .toolbar{
  left: 0;
}
button{
  border: white;
}
.button {
  text-align: center;
  padding: 10px;
  width: 53px;
  height:52.4px;
  background: #4A525B;
  box-shadow: -8px -8px 12px rgba(240, 215, 215, 0.15), 6px 6px 12px rgba(16, 32, 52, 0.25);
  /* filter: blur(2px); */
  border-radius: 24px;
  transition: box-shadow 0.05s;
}
.button:active {
  background: #4A525B;
  box-shadow: 8px 8px 12px rgba(240, 215, 215, 0.15), -6px -6px 12px rgba(16, 32, 52, 0.25);
}
button.fas {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}
.show-menu-btn{background: none;}
.show-menu-btn .fas.fa-ellipsis-h {
  background-color: #fff;
  font-family: "Font Awesome 5 Free";
  height: 30px;
  margin: 5px;
}
/* 
#colors{
}

.swatch{
}

.swatch.active{
} */

#canvas {
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}