*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: sans-serif;

  user-select: none;
  -webkit-user-select:  none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#canvas{
  cursor: crosshair;
  background: rgb(240,240,220);
}

.ctrlButton{
  float: right;
  width: 60px;
  height: 30px;
  background-color: #4f4f4f;
  margin-left: 6px;
  display: inline-block;
  text-align: center;
  padding: 3px;
  border-radius: 2px;
  box-shadow:  inset 0px 0px 0px rgba(255, 255, 255, 0.5), 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.ctrlButton:hover{
  background-color: #818181;
}

#toolbar{
  width: 100%;
  height: 60px;
  padding: 15px;
  position: fixed;
  top: 0;
  background-color: #2f2f2f;
  color: white;
}

.radcontrol{
  width: 35px;
  height: 30px;
  background-color: #4f4f4f;
  display: inline-block;
  text-align: center;
  padding: 4px;
  border-radius: 2px;
  box-shadow:  inset 0px 0px 0px rgba(255, 255, 255, 0.5), 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.radcontrol:hover{
  background-color: #818181;
}


#rad{
  float: left;
}

#colors{
  float: right;
}

.swatch{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 6px;
  border-radius: 2px;
  box-shadow:  inset 0px 0px 0px rgba(255, 255, 255, 0.5), 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.swatch.active{
  width: 40px;
  height: 30px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 6px;
  border-radius: 2px;
}