
#canvasWrapper {
  position: absolute;
  width: 100vh;
  height: 100vh;
  touch-action: none;
  user-select: none;
}
#canvas {
  position: absolute;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
  touch-action: none;
  user-select: none;
}
p {
  position: absoute;
  top:50px;
  left:50px;
  touch-action: none;
  user-select: none;
}
div {
  position: absolute;
  touch-action: none;
  user-select: none;
}
#debunB{
  top: 50px;
  left: 50px;
  position: absolute;
  width: 50px;
  height: 25px;
  z-index: 1000;
  touch-action: none;
  user-select: none;
}
#clear{
  top:100px;
  left:50px;
  position: absolute;
  width: 50px;
  height: 25px;
  z-index:1000;
  touch-action: none;
  user-select: none;
}