*{
  touch-action: none;
  user-select: none;
  pointer-events: none;
}

#canvasWrapper {
  position: absolute;
  width: 100vh;
  height: 100vh;
  touch-action: none;
  user-select: none;
  pointer-events: none;
  background-color: #EFEFEF;
}
#canvas {
  position: absolute;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  touch-action: none;
  user-select: none;
  pointer-events: auto;
}
p {
  position: absolute;
  top:50px;
  left:50px;
  touch-action: none;
  user-select: none;
  pointer-events: none;
}
div {
  position: absolute;
  touch-action: none;
  user-select: none;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none;
  pointer-events: none;
}