html {
  width: 0;
  height: 0;
}
*{
  touch-action: none;
  user-select: none;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

#canvasWrapper {
  position: absolute;
  width: 100vh;
  height: 100vh;
  touch-action: none;
  user-select: none;
  pointer-events: none;
  background-color: #EFEFEF;
}
#canvas {
  position: absolute;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  touch-action: none;
  user-select: none;
  pointer-events: auto;
  cursor: crosshair;
}
p {
  position: absolute;
  top:50px;
  left:50px;
  touch-action: none;
  user-select: none;
  pointer-events: none;
}
div {
  position: absolute;
  touch-action: none;
  user-select: none;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none;
  pointer-events: none;
}
ul {
  padding: 0;
  margin: 0;
}

.toolbar {
  left: -6px;
  top: 0px;
  width: 60px;
  height: 106vh;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  background-color: white;
  z-index:  3000;
}
ul.buttons {
  width: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.buttons li {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  pointer-events: initial;
  background-color: white;
  text-decoration: none;
  border-bottom: 2px sollid #ebebeb;
  transition: background-color 0.1s ease-out;
}
.tools svg {
  transform: scale(0.7, 0.7);
  padding-left: 3px;
}
/* .buttons li:hovar {
  background-color: black;
  transition: background-color 800ms;
}
.buttons li:active {
  background-color: #ebebeb;
  transition: background-color 800ms;
} */
li:hover {
  background-color: #ebebeb;
  transition: background-color 0.1s ease-in-out;
}
/* li svg{
  justify-content: center;
} */
.active svg{
  pointer-events: initial;
  margin-top: 2px;
  border-left: 4px solid #FF6009;
}

.window {
  position: fixed;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  left: -200px;
  top: -6px;
  width: 236px;
  height: 106vh;
  z-index: 2999;
  background-color: white;
  transition: 0.1s ease-in-out;
}
.chat-window {
  position: fixed;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  left: 54px;
  top: -6px;
  width: 396px;
  height: 106vh;
  z-index: 2999;
  background-color: white;
}
.chat-window-header {
  background: #333333;
  height: 81px;
  width: 100%;
}
.signin{
  position: fixed;
  z-index: 3500;
  left: 322px;
  top: 20px;
  width: 98px;
  height: 32px;
  background-color: #444444;
  border: 1px solid #FF6009FF;
  pointer-events: initial;
}
.signin p {
  color: #EFEFEF;
  position: initial;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  font: 14px Roboto, Arial, Helvetica, sans-serif;
}

.signin:hover{
  background-color: #FF6009FF;
}


.show {
  left: 54px;
  transition: 0.1s ease-in-out;
}